<html>
<head>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>

<h2>Mapa de: {{ map_user }}</h2>

<div id="map" style="height:400px;"></div>

<script>
var map = L.map('map').setView([40, -3], 3);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
{% for m in markers %}
    L.marker([{{m.lat}}, {{m.lon}}]).addTo(map).bindPopup("{{m.city}}");
{% endfor %}
</script>
</body>
</html>
